@tailwind base;
@tailwind components;
@tailwind utilities;

.after::after {
  content: "";
  background-image: url("../../images/edit.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  @apply absolute bottom-2 right-2 w-8 h-8 bg-slate-200 rounded-full;
}
